#logregwrapper {
	display: flex;
	justify-content: center;
	background-color: rgb(233,235,238);
	
}

.logregcol {
	margin: 20px;
	width: 320px
	
}

.logregcol button {
	float: right;
}

.formLine {
	display: flex;
	justify-content: space-between;
}

.error {
	color: red;
}